body {
	border-style: solid;
	border-color: #47DFC3;
	margin: 3%;
}
h1 {
	text-align: center; 
}

#i5 {
	margin: 1%;
	padding: 1%;
	float: right;
	
}

div {
	border-style: solid;
	border-color: #47DFC3;
	border-radius: 20px;
	margin: 3%;
	padding: 1%;
}
#t1,#t3 {
	float: left;
}
#t2, #t4 {
	margin: 2%;
	
}
tr {
	height: 25px;
	
}